@media screen and (min-width: 1024px) {
  .row {
    display: flex;
  }

  .colchart {
    width: 65%;
  }

  .colchat {
    width: 35%;
  }
}

.colchart {
  padding: 20px;
}

.colchat {
  display: flex;
  padding: 20px;
}
