.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: rgb(24 22 96);
  color: #fff;
}

.header h1 {
  margin: 0;
}

.header h2 {
  margin: 0;
  font-size: 18px;
}

.header .value {
  margin: 10px 0 0 0;
  font-weight: 500;
}

.pricearea {
  display: flex;
  margin-top: 12px;
}

.price {
  margin-right: 16px;
  font-size: 24px;
  font-weight: 500;
}

.percentage {
  display: flex;
  font-size: 18px;
  font-weight: 500;
}

.maininfo {
  margin: 14px 20px;
}

.otherinfo {
  display: flex;
  flex-wrap: wrap;
}

.otherinfo .col {
  margin: 14px 20px;
}

.header.loading .maininfo {
  width: 200px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.2);
}

.header.loading .maininfo {
  width: 200px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
}

.header.loading .otherinfo .col .value {
  width: 200px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
