.tbodytr {
  height: 80px;
  cursor: pointer;
}

.tbodytr:hover {
  background: rgb(233 233 233);
}

.td {
  padding: 10px;
  text-align: right;
  border-bottom: 1px solid #eff2f5;
}

.rank,
.name {
  text-align: left;
}

.name a {
  color: inherit;
  text-decoration: none;
}

td.rank {
  width: 30px;
  color: rgb(23, 25, 36);
  font-weight: normal;
}

.symbol {
  color: #999;
  font-weight: normal;
  margin-left: 6px;
}

.nameblock {
  display: flex;
  align-items: center;
}

.image {
  display: block;
  margin-top: 1px;
  margin-right: 6px;
  border-radius: 100%;
}

.loading .td.placeholder {
  height: 80px;
  padding: 2px;
}

.loading .td.placeholder div {
  max-width: 120px;
  height: 30px;
  background-color: rgba(224, 220, 220, 0.8);
  margin-left: auto;
}

.loading .td.rank div {
  max-width: 20px;
  margin-left: 0;
}

.loading .td.name div {
  max-width: 150px;
  margin-left: 0;
}

.loading .td.supply div {
  max-width: 150px;
}

.loading .td:last-child div {
  max-width: 70px;
}
