@media screen and (max-width: 1023px) {
  .th:nth-child(1),
  .th:nth-child(2) {
    position: sticky;
    left: 0;
  }

  .th:nth-child(2) {
    left: 30px;
  }
}

.tablecontainer {
  overflow-x: auto;
}

.table {
  width: 100%;
  font-size: 15px;
  border-top: 1px solid #eff2f5;
  color: rgb(23, 25, 36);
  border-collapse: collapse;
}

.thead {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 47px;
  font-weight: 500;
  font-size: 13px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.th {
  padding: 10px;
  text-align: right;
  background-color: #fff;
}

.rank,
.name {
  text-align: left;
}

.loadmorewrapper {
  margin-bottom: 20px;
}
