.mainheader {
  margin-bottom: 20px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.header h1 a {
  color: inherit;
  text-decoration: none;
}
