.loginarea {
  display: flex;
  align-items: center;
  height: 100%;
}

.userarea {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.userpicture {
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-right: 8px;
}

.icon {
  display: flex;
  align-items: center;
  perspective: 1000px;
}

.icon .svg {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.useraction {
  display: flex;
  cursor: pointer;
}
