.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 300px;
  max-height: 450px;
  border: 1px solid rgb(248, 197, 197);
  background-color: rgba(248, 248, 248, 0.2);
}

.chatarea {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 100%;
  overflow: auto;
  padding: 5px;
  font-size: 15px;
}
