@keyframes upAnimation {
  0%,
  80% {
    color: #16c784;
  }
  100% {
    color: inherit;
  }
}

@keyframes downAnimation {
  0%,
  80% {
    color: #ea3943;
  }
  100% {
    color: inherit;
  }
}

.up {
  animation: 0.8s ease-out upAnimation;
}

.down {
  animation: 0.8s ease-out downAnimation;
}
