.item {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  padding: 3px 14px;
}

.item:hover,
.item.active {
  background-color: #ffe380;
  cursor: pointer;
}

.item img {
  margin-right: 10px;
}
