.container {
  position: absolute;
  left: 0;
  top: calc(100% - 5px);
  padding-top: 4px;
  width: 100%;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 13px;
  border-radius: 5px;
  overflow: hidden;
}

.loading {
  padding: 3px 14px;
}

.hide {
  display: none;
}
